<!DOCTYPE html>
<html>

<head>
    <title>My Web Page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript" src="./static/zh-tw.js"></script>

    <style type="text/css">
        .start-word {
            color: green;
            font-weight: bold;
        }

        .stop-word {
            font-weight: bold;
            color: red;
        }

        .running {
            font-weight: bold;
            color: blue;
        }

        ul {
            list-style-type: none;
            margin: 0px;
        }

        #messages {
            padding-left: -40px !important;
        }

        #date {
            display: none;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>{{.Title}}</h2>
        <form method="post" id="myForm" action="/submit">
            <div class="form-group">
                <label for="select">分類:</label>
                <select class="form-control" name="category" id="select">
                    <option value="status">伺服器狀態</option>
                    <option value="get_date">取得時間</option>
                    <option value="set_date">設定時間</option>
                </select>
            </div>
            <div class="form-group" id="date">
                <label for="field1">日期:</label>
                <input type="text" class="form-control" name="datetime" id="field1">
            </div>
            <div class="form-group">
                <label for="field2">主機:</label>
                <select class="form-control" name="server" id="field2">
                    <option value="35.236.164.112">測試C</option>
                    <option value="35.194.146.167">測試A</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">送出</button>
        </form>

        <div id="messages"> </div>

    </div>

    <script>
        const messagesDiv = document.getElementById('messages');
        const messageInput = document.getElementById('message');
        const ws = new WebSocket('ws://localhost:8080/ws'); // WebSocket 服务器地址
        // const ws = new WebSocket('ws://localhost:1119/ws'); // WebSocket 服务器地址

        ws.onopen = function (event) {
            addMessage('Connected to WebSocket server');
        };

        ws.onmessage = function (event) {
            addMessage(event.data);
        };

        ws.onclose = function (event) {
            addMessage('Connection closed');
        };

        function addMessage(message) {
            if (typeof (message) === 'string') {
                const messagesDiv = document.getElementById('messages');
                const executionResultLi = document.createElement('div');
                // Replace 'start' and 'stop' with span elements
                let modifiedMessage = message.replace(/starting!/g, '<span class="start-word">start</span>');
                modifiedMessage = modifiedMessage.replace(/stopped!/g, '<span class="stop-word">stopped</span>');
                modifiedMessage = modifiedMessage.replace(/running!/g, '<span class="running">running!</span>');
                executionResultLi.innerHTML = convertAnsiToHtml(message); // 使用innerHTML将消息解析为HTML
                messagesDiv.appendChild(executionResultLi);
            }
        }

        function convertAnsiToHtml(text) {
            // Define a mapping from ANSI color codes to CSS colors
            const colorMap = {
                '31': 'red',    // Red
                '32': 'green',  // Green
                '33': 'orange'  // Orange (closest to ANSI yellow)
                // Add more mappings as needed
            };

            // Regular expression to match ANSI escape codes
            const regex = /\u001b\[(\d+)m(.*?)\u001b\[0m/g;

            return text.replace(regex, (match, p1, p2) => {
                const color = colorMap[p1];
                return color ? `<span style="color: ${color}">${p2}</span>` : p2;
            });
        }
        $("#select").change(function () {
            if ($(this).val() === 'set_date') {
                $("#date").css("display", "block"); // 使用 "block" 来显示
            } else {
                $("#date").css("display", "none"); // 隐藏日期输入字段
            }
        });
        jQuery.datetimepicker.setLocale('zh-TW', {
            lang: 'zh-TW',
            timepicker: true,
            format: 'Y-m-d H:i:s',
        });
        $("#field1").datetimepicker({
            format: 'Y-m-d H:i:s',
            lang: 'zh-TW' // 设置语言为中文（台湾）
        });
        // 使用 jQuery 处理表单提交
        $('#myForm').submit(function (event) {
            if ($("#select").val() === "set_date" && $("#field1").val() === '') {
                alert('請輸入時間!');
                return false;
            }
            event.preventDefault(); // 阻止表单默认提交
            $('#messages').empty();
            // 获取表单数据
            const formData = {
                date: $('#field1').val(),
                host: $('#field2').val(),
                category: $('#select').val(),
            };

            // 发送 AJAX POST 请求
            $.ajax({
                type: 'POST',
                url: '/submit', // 设置提交目标
                data: formData,
                success: function (response) {
                    console.log(response)
                    //addMessage(response);
                },
                error: function () {
                    addMessage('Error occurred during the AJAX request.');
                }
            });
        });
    </script>
</body>

</html>
